<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="suite" verbose="1" >
    <listeners>
        <listener class-name="testNGListeners.MethodInterceptorListener"/>
        <listener class-name="org.uncommons.reportng.HTMLReporter" />
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
    </listeners>
    <test name="Shop">
    <classes>
        <class name="testcases.BasicTest"></class>
    </classes>
    </test>
</suite>